.footer__main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 72px;
}

.footer__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  width: 236px;
  margin: 0 auto;
}

.footer__address {
  font-family: $opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  width: 555px;
  margin: 0 auto;
  margin-top: 29px;
}

.footer__map {
  width: 957px;
  height: 530px;
  border: none;
  background-image: url("../img/map.png");
  background-size: 957px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map@2x.png");
  }
}
