.header { // без ретины
  background-color: $black-header;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 825px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) { // ретина
    background-image: url("../img/banner@2x.jpg");
    background-size: 1440px;
  }
}

.header__main-container {
  max-width: 1440px;
  width: 880px;
  margin: 0 auto;
}

.header__banner {
  display: flex;
  justify-content: space-between;
  margin-top: 244px;
}

.header__about-container {
  letter-spacing: -0.005em;
  color: $white;
  margin-top: 12px;
}

.header__about-container a {
  display: block;
}

.header__about-container h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  width: 393px;
  margin: 0;
  margin-top: 26px;
}

.header__about-container p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  width: 381px;
  opacity: 0.8;
  margin: 0;
  margin-top: 25px;
}

.header__form-container p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $white;
  width: 327px;
  margin-bottom: 19px;
}

.header__form-container form {
  display: flex;
  flex-direction: column;
}

.header__form-container label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header__form-container input {
  font-size: 15px;
  line-height: 24px;
  background: $white;
  border: 1px solid #c9ccd4;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 29px;
  padding-top: 13px;
  padding-bottom: 9px;
  margin-bottom: 20px;
  letter-spacing: 0.29px;

  &::placeholder {
    color: #1c1c1c;
    opacity: 0.5;
  }

  &:hover {
    outline: 2px solid $light-blue;
  }

  &:focus {
    outline: 2px solid $light-blue;
  }
}

.header__form-container button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: $black;
  width: 325px;
  background: $light-blue;
  border-radius: 6px;
  border: none;
  min-height: 51px;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 2px;
  letter-spacing: 0.15px;

  &:hover {
    background: lighten($light-blue, 20%);
  }

  &:active {
    background: darken($light-blue, 10%);
  }
}

@media (max-width: $tablet) {
  .header {
    min-height: auto;
    padding-bottom: 30px;
    background: none;
  }

  .header__main-container {
    width: auto;
    position: relative;
  }

  .header__about-container a {
    padding-left: 23px;
    padding-top: 25px;
  }

  .header__banner { // без ретины
    margin-top: 0;
    flex-direction: column;
  }

  .header__about-container {
    margin-top: 0;
    background-image: url("../img/banner-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 340px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) { // ретина
      background-image: url("../img/banner-tablet@2x.jpg");
    }
  }

  .header__about-container h1 {
    font-size: 30px;
    line-height: 42px;
    width: 525px;
    margin: 0 auto;
    text-align: center;
    padding-top: 85px;
  }

  .header__about-container p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 435px;
    margin: 0 auto;
    padding-top: 19px;
  }

  .header__form-container {
    margin-left: 29.2%;
    margin-right: 29%;
    margin-top: 52px;
  }

  .header__form-container form {
    width: 321px;
    margin: 0 auto;
  }

  .header__form-container p {
    font-size: 18px;
    color: $black;
    margin-bottom: 30px;
    min-height: 56px;
    width: 100%;
  }

  .header__form-container input {
    padding-left: 23px;
  }

  .header__form-container button {
    width: 100%;
    padding-top: 2px;
  }
}

@media (max-width: $mobile) { // без ретины
  .header__about-container {
    background-image: url("../img/banner-mobile.jpg");
    min-height: 390px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) { // ретина
      background-image: url("../img/banner-mobile@2x.jpg");
    }
  }

  .header__about-container a {
    padding-left: 16px;
  }

  .header__about-container h1 {
    font-size: 30px;
    line-height: 42px;
    min-height: 155px;
    box-sizing: border-box;
    width: 100%;
    padding-top: 71px;
  }

  .header__about-container p {
    font-size: 18px;
    line-height: 32px;
    min-height: 115px;
    box-sizing: border-box;
    width: 97%;
  }

  .header__form-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .header__form-container form {
    width: 288px;
  }

  .header__form-container p {
    min-height: 84px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 20px;
  }
}
