.video {
  margin-top: 2px;
  margin-bottom: 80px;
  background-image: linear-gradient(to top, $white 0%, $white 12.2%, $black-video 11%, $black-video 58%);
}

.video__main-container {
  max-width: 1440px;
  padding-top: 120px;
  margin: 0 auto;
}

.video__main-container h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $white;
  margin: 0 auto;
  width: 360px;
  text-align: center;
}

.video__main-container p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $white;
  opacity: 0.7;
  width: 340px;
  margin: 0 auto;
  margin-top: 20px;
}

.video__player {
  position: relative;
  margin: 0 auto;
  margin-top: 56px;
}

.video__player button {
  width: 65px;
  height: 65px;
  background-color: $light-blue;
  border: none;
  border-radius: 50%;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 28px center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 13px 18px;

  &:hover {
    background-color: lighten($light-blue, 20%);
  }

  &:active {
    background-color: darken($light-blue, 10%);
  }
}

.video__player img {
  display: block;
  margin: 0 auto;
}


@media (max-width: $tablet) {
  .video {
    background-image: linear-gradient(to top, $white 0%, $white 17%, $black-video 11%, $black-video 58%);
    margin-bottom: 60px;
  }

  .video__main-container {
    padding-top: 70px;
  }

  .video__main-container h2 {
    font-size: 24px;
    line-height: 30px;
    width: 280px;
  }

  .video__main-container p {
    width: 62%;
  }

  .video__player {
    margin-top: 40px;
  }

  .video__player img {
    width: 503px;
    height: 282px;
  }

  .video__player button {
    width: 90px;
    height: 90px;
    background-size: 19px 26px;
    background-position: 39px center;
  }
}

@media (max-width: $mobile) {
  .video {
    background-image: linear-gradient(to top, $white 0%, $white 11%, $black-video 11%, $black-video 58%);
  }

  .video__main-container {
    padding-top: 83px;
  }

  .video__main-container h2 {
    width: 292px;
    text-align: center;
  }

  .video__main-container p {
    width: 97%;
  }

  .video__player {
    margin-top: 54px;
  }

  .video__player img {
    width: 288px;
    height: 161px;
  }

  .video__player button {
    width: 65px;
    height: 65px;
    background-size: 13px 18px;
    background-position: 28px center;
  }
}
