$opensans: "Open Sans", "PT Sans", sans-serif;
$white: #ffffff;
$black: #000000;
$black-title: #1f1f1f;
$black-header: #0e0e0e;
$black-video: #131314;
$light-blue: #0ad9c6;
$tablet: 1023px;
$mobile: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
